// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//For the fixed top navbar (Navbar has 50px)
body {
  padding-top: 50px;
}

// Make flash message centered taking up almost the whole screens width
// .alert {
// margin-top: 10px;
// width: 75%;
// margin: 0 auto;
// }

// Make flash message appear in the top right hand corner of the page
// Body has a padding top of 50 px so make sure to make the alert have a top of 60px to create a -10px margin
.alert {
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 10px;
  width: 20%;
  height: auto;
}
