/* react post.jsx */
.post.panel .panel-body {
  height: auto;
}

.gravatar {
  margin-right: 8px;
}

/* react profile_info.jsx */
.jumbotron.profileinfo-container {
  margin-bottom: 0;
}

.profile-tabs {
  margin-bottom: 30px;
}

button > i.fa {
  font-size: 1.5em;
}

/* react post form */
.form.panel {
  .post-form-content {
    display: inline;
    width: 88%;
  }
  .post-form-submit {
    display: inline-block;
  }
  .panel-heading {
    i {
      font-size: 1.5em;
      float: right;
    }
    h3 {
      display: inline-block;
    }
  }
  #collapseForm .panel-body {
    height: auto;
  }
}

.profile-tabs button.active {
  background-color: rgb(217,237,247);
}

/* react friends.jsx */

.friends-panel {
  .panel-body {
    //Overide bootstrap
    overflow-y: auto;
    height: auto;
  }
}

.img-list {
  text-align: center;
  .image-container {
    margin-bottom: 25px;
    a.friend-image img.react-gravatar {
      border-radius: 50%;
      border: 1px solid lightblue;
    }
    @media only screen and (min-width : 1080px) {
      span.text-content {
        background: rgba(0,0,0,0.5);
        color: white;
        cursor: pointer;
        display: table;
        height: 150px;
        width: 150px;
        left: 18%;
        position: absolute;
        top: 0;
        opacity: 0;
        -webkit-transition: opacity 500ms;
        -moz-transition: opacity 500ms;
        -o-transition: opacity 500ms;
        transition: opacity 500ms;
        border-radius: 50%;
        span {
          display: table-cell;
          position: relative;
          left: 25%;
          vertical-align: middle;
        }
      }
      &:hover span.text-content {
        opacity: 1;
      }
    }
  }
}
