// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.list-container {
  margin: 0 auto;
  width: 75%;

  .list {
      height:auto;
      min-height:120px;
      li {
        list-style-type: none;
      }
  }

}
a.list-group-item.active small {
    color:#fff;
}
