<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-12">
        <% if current_user %>
          <h3><%= gravatar_tag current_user.email, size: 80 %><%= current_user.username %></h3>
        <% end %>
        <hr>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a href="#">Timeline</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Friends</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Code Snippets</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
      </div>
  </div>
